# Entorno Virtual
# Ignora la carpeta del entorno virtual, que contiene miles de archivos
# y es específica de tu sistema operativo.
venv/
/venv/
.venv/

# Variables de Entorno
# El archivo .env contiene secretos y configuración local. ¡Nunca debe ir a Git!
.env
*.env

# Bases de datos locales
# La base de datos de desarrollo no debe estar en el repositorio.
db.sqlite3
/db.sqlite3

# Archivos de caché y compilados de Python
# Estos archivos se generan automáticamente.
__pycache__/
*.pyc

# Archivos de configuración de IDEs
# Ignora la configuración específica de tu editor de código.
.vscode/
.idea/

# Archivos de medios y estáticos generados por el usuario
# Típicamente, los archivos subidos por los usuarios no van en el repo.
# Si tienes una carpeta de medios, añádela aquí.
# /mediafiles/

# Archivos de registro
*.log
logs/

# Reportes de pruebas
/htmlcov/
.coverage

### Django ###
*.log
*.pot
*.pyc
_pycache_/
/migrations/
*/migrations/
/logs/
db.sqlite3
staticfiles