{% extends "historial/base.html" %}
{% load static %}
{% block title %}Temporada Actual{% endblock %}
{% block extra_css %}

<link rel="stylesheet" href="{% static 'css/temporada_actual.css' %}">
{% endblock %}

{% block content %}

<div class="season-container">
    <div class="text-center mb-5 mb-4 mb-md-5">
        <h1 class="fw-bold titulo1 mb-2"><i class="fas fa-calendar-alt me-2"></i>{{ temporada_actual }}</h1>
        <p class="text-muted">Resultados de la temporada</p>
    </div>


    <div class="matches-card">
        <div class="table-container">
            <table class="matches-table">
                <thead>
                    <tr>
                        <th>Fecha</th>
                        <th>Torneo</th>
                        <th>Rival</th>
                        <th>Resultado</th>
                        <th>Condición</th>
                        <th>Detalles</th>
                    </tr>
                </thead>
                <tbody>
                    {% for partido in partidos %}
                    <tr class="{% if partido.goles_chabas > partido.goles_rival %}win-row
                        {% elif partido.goles_chabas < partido.goles_rival %}loss-row
                        {% else %}draw-row{% endif %}">
                        <td>{{ partido.fecha|date:"d/m/Y" }}</td>
                        <td>{{ partido.torneo.nombre }}</td>
                        <td>vs {{ partido.rival.nombre }}</td>
                        <td>
                            {% if partido.tipo == 'L' %}
                                <span class="team-goal">{{ partido.goles_chabas }}</span> - {{ partido.goles_rival }}
                            {% else %}
                                {{ partido.goles_rival }} - <span class="team-goal">{{ partido.goles_chabas }}</span>
                            {% endif %}
                        </td>
                        <td>
                            {% if partido.tipo == 'L' %}
                                <span class="badge local">Local</span>
                            {% else %}
                                <span class="badge visitor">Visitante</span>
                            {% endif %}
                        </td>
                        <td>
                            <a href="{% url 'detalle_partido' partido.id %}" class="info-btn">
                                <i class="fas fa-info-circle"></i>
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}