:root {
    --failure-color: #d62727;
    --success-color: #28a745;
    --neutral-color: #ffb74d;
}

@media (max-width: 768px) {
    .hero-section {
        padding: 2.5rem 1rem !important;
        margin-bottom: 20px !important;
    }

    .display-6 {
        font-size: 1.6rem;
    }

    .mt-n4 {
        margin-top: -1.5rem !important;
    }
}

.table-responsive {
    border: none;
}

@media (max-width: 576px) {
    .hide-mobile {
        display: none;
    }


    .team-name {
        max-width: 80px;
        display: inline-block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        vertical-align: middle;
    }

    .card-body {
        padding: 1rem;
    }

    .badge-score {
        padding: 0.4rem 0.6rem !important;
        font-size: 0.8rem !important;
    }
}

.bg-failure {
    background-color: var(--failure-color) !important;
    color: white !important;
}

.img-escudo {
    object-fit: contain;
    max-width: 100%;
}